<div>
  <% discussions.each do |discussion| %>
    <%= link_to(anime_discussion_path(discussion.anime, discussion), class: "grid grid-cols-7 gap-4 border-b border-primary p-2 hover:bg-primary-content") do %>
      <%= image_tag(discussion.anime.image_url) %>
      <div class="col-span-6 flex">
        <p class="font-bold my-auto text-primary-focus"><%= discussion.title %></p>
        <div class="ml-auto flex flex-col">
          <p><%= l(discussion.created_at, format: :long) %></p>
          <p class="ml-auto mt-auto">コメント：<%= discussion.comments.count %>件</p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= paginate(discussions) %>
</div>
