<section class="md:grid grid-cols-7 gap-4 border border-primary px-4 py-2">
  <%= link_to(anime_path(@anime)) do %>
    <%= image_tag(@anime.display_image_url, class: "hidden md:block") %>
  <% end %>
  <div class="col-span-6 flex flex-col gap-4">
    <div class="md:flex">
      <%= link_to(@anime.title, anime_path(@anime), class: "hover:link") %>
      <p class="ml-auto"><%= l(@discussion.created_at, format: :long) %></p>
    </div>
    <div class="md:flex">
      <p class="font-bold text-2xl text-primary-focus">
        <%= @discussion.title %>
      </p>
    </div>
    <div class="md:flex mt-auto gap-2">
      <% if @discussion.user.id == current_user.id %>
        <%= link_to(edit_anime_discussion_path(@anime, @discussion), class: "btn btn-primary btn-sm my-auto") do %>
          <i class="fa-solid fa-pen"></i>
        <% end %>

        <%= link_to(reverse_archival_status_word(@discussion), anime_discussion_path(@anime, @discussion, 
          { discussion: { archived: !@discussion.archived? }}), 
          data: { turbo_method: :put },
          class: "btn btn-sm my-auto") %>
      <% end %>
      <%= link_to(user_path(@discussion.user), class: "flex gap-2 ml-auto hover:underline") do %>
        <div class="avatar">
          <div class="avatar w-12 rounded-full">
            <%= image_tag(@discussion.user.display_avatar, class: "w-12")%>
          </div>
        </div>
        <p class="my-auto"><%= @discussion.user.name %></p>
      <% end %>
    </div>
  </div>
</section>

<section class="p-2">
  <% @comments.each do |comment| %>
    <%= render("chats/bubble", comment: comment) %>
  <% end %>
</section>

<section class="max-w-2xl mx-auto py-8">
  <% if @discussion.archived? %>
    <p>このスレッドはアーカイブされました。</p>
  <% else %>
    <%= form_with(model: [@anime, @discussion, @comment]) do |f| %>
      <%= f.text_field(:content, class: "input input-bordered bg-gray-50 w-full", placeholder: "Input chat here (less than 100 characters).") %>
    <% end %>
  <% end %>
</section>
