<div class="flex flex-col gap-4">
  <h1 class="font-bold text-2xl"><%= @user.display_name %></h1>
  <div class="grid md:grid-cols-4 gap-4">
    <div class="flex flex-col gap-4">
      <div class="border border-primary p-2 w-full avatar">
        <div class="w-full rounded">
          <%= image_tag(@user.display_avatar) %>
        </div>
      </div>
      <% if current_user.id == @user.id %>
        <%= link_to(edit_user_path(@user), class: "btn btn-primary btn-wide w-full") do %>
          <i class="fa-solid fa-gear pr-2"></i>
          Settings
        <% end %>
      <% end %>
    </div>

    <% unless @user.deleted? %>
      <div class="col-span-3">
        <div class="flex">
          <%= link_to(user_path(@user, display: "thread")) do %>
            <div class="px-4 py-2 border border-primary font-bold <%= 'bg-primary-content' if display_discussions? %>">
              <i class="fa-solid fa-bullhorn pr-1"></i>
              スレッド
            </div>
          <% end %>
          <%= link_to(user_path(@user, display: "comment")) do %>
            <div class="px-4 py-2 border border-primary font-bold <%= 'bg-primary-content' if display_comments? %>">
                <i class="fa-regular fa-comment"></i>
                コメント
            </div>
          <% end %>
        </div>
        <div class="border border-primary">
          <%= render("discussions/items", discussions: @discussions) if display_discussions? %>
          <%= render("comments/items", comments: @comments) if display_comments? %>
        </div>
      </div>
    <% end %>
  </div>
</div>
