<div class="flex flex-col gap-4">
  <h1 class="font-bold text-2xl"><%= @user.display_name %></h1>
  <div class="grid md:grid-cols-4 gap-4">
    <div class="flex flex-col gap-4">
      <div class="border border-primary p-2 w-full avatar">
        <div class="w-full rounded">
          <%= image_tag(@user.display_avatar) %>
        </div>
      </div>
      <% if current_user.id == @user.id %>
        <%= link_to("Settings", edit_user_path(@user), class: "btn btn-primary btn-wide w-full") %>
      <% end %>
    </div>

    <% unless @user.deleted? %>
      <div class="col-span-3">
        <div class="flex">
          <%= link_to("スレッド", user_path(@user, display: "thread"), class: "px-4 py-2 border border-primary font-bold #{'bg-primary-content' if display_discussions?}") %>
          <%= link_to("コメント", user_path(@user, display: "comment"), class: "px-4 py-2 border border-primary font-bold #{'bg-primary-content' if display_comments?}") %>
        </div>
        <div class="border border-primary">
          <% if display_discussions? %>
            <%= render("discussions/items", discussions: @discussions) %>
          <% elsif display_comments? %>
            <%= render("comments/items", comments: @comments) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
