<div id="<%= comment.id %>">
  <% if is_my_comment(comment) %>
    <div class="chat chat-end">
      <div class="chat-image avatar"></div>
      <div class="chat-bubble chat-bubble-primary"><%= comment.content %></div>
      <div class="chat-footer opacity-50 text-xs">
        <%= l(comment.created_at, format: :only_time) %>
      </div>
    </div>
  <% else %>
    <div class="chat chat-start">
      <div class="chat-image">
        <%= link_to(user_path(comment.user), class: "w-10 rounded-full avatar") do %>
          <div class="w-20 rounded-full">
            <%= image_tag(comment.user.display_avatar) %>
          </div>
        <% end %>
      </div>
      <div class="chat-header">
        <%= link_to(comment.user.display_name, user_path(comment.user)) %>
      </div>
      <div class="chat-bubble"><%= comment.content %></div>
      <div class="chat-footer opacity-50 text-xs">
        <%= l(comment.created_at, format: :only_time) %>
      </div>
    </div>
  <% end %>
</div>
