<div id="<%= comment.id %>">
  <% if is_my_comment(comment) %>
    <div class="chat chat-end">
      <div class="chat-image avatar"></div>
      <div class="chat-bubble chat-bubble-primary"><%= comment.content %></div>
      <div class="chat-footer opacity-50 text-xs">
        <%= l(comment.created_at, format: :only_time) %>
      </div>
    </div>
  <% else %>
    <div class="chat chat-start">
      <div class="chat-image avatar">
        <%= link_to(user_path(comment.user), class: "w-10 rounded-full") do %>
          <%= image_tag("https://pbs.twimg.com/profile_images/1639996872071974913/PPhYEW-B_400x400.jpg", class: "w-12 rounded-full") %>
        <% end %>
      </div>
      <div class="chat-header">
        <%= link_to(comment.user.name, user_path(comment.user)) %>
      </div>
      <div class="chat-bubble"><%= comment.content %></div>
      <div class="chat-footer opacity-50 text-xs">
        <%= l(comment.created_at, format: :only_time) %>
      </div>
    </div>
  <% end %>
</div>
