<section class="flex flex-col gap-4">
  <h1 class="border border-primary text-xl font-bold px-4 py-2">
    <%= @anime.title %>
  </h1>

  <div class="grid grid-cols-5 gap-4">
    <div class="col-span-2 border border-primary p-4">
      <%= image_tag(@anime.image_url) %>
      <div class="p-2">
        <div class="flex gap-4 justify-center">
          <b>原作</b>
          <p class="text-primary-focus">春場ねぎ</p>
        </div>
        <div class="flex gap-4 justify-center">
          <b class="whitespace-nowrap">声優</b>
          <div class="text-primary-focus">
            <p>花澤香奈</p>
            <p>竹達彩菜</p>
            <p>伊藤美来</p>
            <p>佐倉綾音</p>
            <p>水瀬いのり</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-3 border border-primary">
      <div class="flex flex-col">
        <% @anime.discussions.each do |discussion| %>
          <%= link_to(anime_discussion_path(@anime, discussion), class: "border-b border-primary p-2 flex gap-2") do %>
            <%= image_tag("https://pbs.twimg.com/profile_images/1639996872071974913/PPhYEW-B_400x400.jpg", class: "w-12 rounded-full") %>
            <div class="flex flex-col w-full">
              <div class="text-sm flex">
                <p><%= discussion.user.name %></p>
                <p class="ml-auto"><%= l(discussion.created_at, format: :short) %></p>
              </div>
              <p class="font-bold mt-auto text-primary-focus"><%= discussion.title %></p>
            </div>  
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
